apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wine-emulator-storage
  namespace: wine-emulator
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path  # k3s default storage class
